@{
    ViewData["Title"] = "Home Page";
    static List<string> GetAllClasses()
    {
        List<string> list = new List<string>();
        #if DEBUG
        foreach (Type type in System.Reflection.Assembly.LoadFrom("bin/Debug/net5.0/Model.dll").GetTypes())
        {
            object instance = Activator.CreateInstance(type);
    list.Add(Newtonsoft.Json.JsonConvert.SerializeObject(instance, Newtonsoft.Json.Formatting.Indented));
        }
        #endif
        return list;
    }
    @foreach (string classname in GetAllClasses())
    {
        <p>@classname</p>
        <br />
    }
}
