
@foreach (string classname in GetAllClasses())
{
    <p>@classname</p>
    <br />
}

@code 
{
    private static List<string> list = new List<string>();
    private static List<string> GetAllClasses()
    {
        #if DEBUG                            
        foreach (Type type in System.Reflection.Assembly.LoadFrom("bin/Debug/net5.0/AseregeBarcelonaWeb.Model.dll").GetTypes())
        {
            object instance = Activator.CreateInstance(type);
            list.Add(Newtonsoft.Json.JsonConvert.SerializeObject(instance, Newtonsoft.Json.Formatting.Indented));                
        }        
        return list;
        #endif    
        #if !DEBUG
        list = System.IO.File.ReadAllLines("controller.API").ToList();  
        return list;
        #endif
    }    
}
