@if (Textos != null || Textos.Count > 0)
{	
	<MudGrid Class="pt-4 mt-4">
		<MudItem xs="12" md="6">			
			@foreach (MarkupString texto in Textos)
			{
				<MudPaper Class="pa-16 ma-2" Elevation="3">@texto</MudPaper>
			}			
		</MudItem>
		<MudItem xs="12" md="6">
			<MudImage ObjectPosition="ObjectPosition.Center" Fluid="true" Src="./images/foto.png" Alt="Foto el Creador. Se aprecia una foto de carnet con un joven de ojos negros, pelo corto marrón y cara seria. Lleva puesta una camiseta oscura y parece estar algo enfadado" Class="rounded-lg pt-md-2 mt-md-2 pl-8 ml-8" />
		</MudItem>
	</MudGrid>
}

<MudText Class="mt-2" Typo="Typo.body1"></MudText>
<MudText Class="mt-2" Typo="Typo.body1">
	
</MudText>

@code 
{
	private List<MarkupString> Textos { get; set; } = new List<MarkupString>();

	protected override async Task OnInitializedAsync()
	{
		string route = "wwwroot/about.web";
		if (!System.IO.File.Exists(route))
		{			
			string jsonData = "[{\"Value\":\"<h2>TITULO</h2><p>PARAGRAFO EJEMPLO</p>\"}]";
			await System.IO.File.WriteAllTextAsync(route, jsonData);
		}		
		
		Textos = Newtonsoft.Json.JsonConvert.DeserializeObject<List<MarkupString>>(await System.IO.File.ReadAllTextAsync(route));
		await Task.CompletedTask;
		await base.OnInitializedAsync();
	}

	
}