<MudText Class="pt-4 mt-4" Typo="Typo.h4">Transportes</MudText>

<MudLink Typo="Typo.h5" Target="_blank" Href="https://www.trenscat.cat/">Transportes</MudLink>



<MudText style="font-family: 'Quattrocento', serif;" Align="Align.Center" Typo="Typo.h4">Plaça d'Espanya de Barcelona</MudText>


<MudGrid>
    
    <MudItem xs="12" sm="12">
        <MudPaper Class="mt-4 mx-auto" Elevation="3">                
            <MudText Align="Align.Center"><b>Metro</b></MudText>
            <MudTimeline TimelineAlign="TimelineAlign.Start">
                <MudTimelineItem Color="Color.Error" Elevation="25">
                    <ItemOpposite>
                        <MudText Color="Color.Error" Typo="Typo.h6">L1</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText Color="Color.Error" Typo="Typo.h6" GutterBottom="true">Hospital de Bellvitge - Fondo</MudText>
                            <MudText Typo="Typo.body1"><li>La estación de la línea 1 se inauguró en 1926 con el primer tramo de dicha línea.</li> </MudText>
                            <MudText Typo="Typo.body1"><li>Esta linia también es conocida como Transversal.</li></MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Color="Color.Success" Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText Color="Color.Success" Typo="Typo.h6">L3</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Zona Universitaria - Trinitat Nova</MudText>
                            <MudText Typo="Typo.body2"><li>Su inauguración fue en 1975 como parte de la línea IIIB que luego se juntaría con la III para dar lugar a la línea 3 actual.</li></MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
            </MudTimeline>
        </MudPaper>
    </MudItem>
             
    <MudItem xs="12" sm="12">
        <MudPaper Class="mt-4 mx-auto" Elevation="3">        
            <MudText Align="Align.Center"><b>FGC</b></MudText>
            <MudTimeline TimelineAlign="TimelineAlign.Start">
                <MudTimelineItem Color="Color.Secondary" Elevation="25">
                    <ItemOpposite>

                        <MudText Color="Color.Secondary" Typo="Typo.h6">L8</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText style="color: #FF80AB" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça España - Molí Nou|Ciutat Cooperativa</MudText>
                            <MudText Typo="Typo.body1"><li>Entró en servicio el dia 27 de mayo de 1926 entre la Bordeta y la Plaza de España,con la electrificación de la línea hasta Sant Boi de Llobregat.</li> </MudText>
                            <MudText Typo="Typo.body1"><li>La estación de Barcelona-Plaça Espanya se situa al PK 1,598 de la línia Magòria - Pl. Espanya</li></MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Color="Color.Tertiary" Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText Color="Color.Tertiary" Typo="Typo.h6">S3</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText Color="Color.Tertiary" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça Espanya - Can Ros</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText style="color: brown" Typo="Typo.h6">S4</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText style="color: brown" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça Espanya - Olesa de Montserrat</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Color="Color.Primary" Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText style="color: #80D8FF" Typo="Typo.h6">S8</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText style="color: #80D8FF" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça Espanya - Martorell Enllaç</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText style="color: #FF4081" Typo="Typo.h6">S9</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText style="color: #FF4081" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça Espanya - Quatre Camins</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText style="color: #69F0AE" Typo="Typo.h6">R5</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText style="color: #69F0AE" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça Espanya - Manresa</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText style="color: #00838F" Typo="Typo.h6">R50 (Semidirecto)</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText style="color: #00838F" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça Espanya - Manresa</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText style="color: #9E9E9E" Typo="Typo.h6">R6</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText style="color: #9E9E9E" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça Espanya - Igualada</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText style="color: #616161" Typo="Typo.h6">R60(Semidirecto)</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText style="color: #616161" Typo="Typo.h6" GutterBottom="true">Barcelona Plaça Espanya - Igualada</MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
            </MudTimeline>        
        </MudPaper>
    </MudItem>     
    
    
        <MudItem xs="12" sm="6">
            <MudPaper Class="mt-4 mx-auto p-2 m-2" Elevation="3">
                <MudText Align="Align.Left"><b>Autobuses</b></MudText>      
                <MudTimeline TimelineOrientation="TimelineOrientation.Horizontal" TimelinePosition="TimelinePosition.Alternate" Reverse="false">
                    <MudTimelineItem Color="Color.Success" Variant="Variant.Filled">
                        <ItemContent>
                            <MudAlert Severity="Severity.Success">Aerobus</MudAlert>
                        </ItemContent>
                        <ItemOpposite>
                            <MudText Color="Color.Success">aerobus A1 / A2</MudText>
                        </ItemOpposite>
                    </MudTimelineItem>

                    <MudTimelineItem Color="Color.Success" Variant="Variant.Filled">
                        <ItemContent>
                            <MudAlert Severity="Severity.Success">Linias urbanas</MudAlert>
                        </ItemContent>
                        <ItemOpposite>
                            <MudText Color="Color.Success">D40, V7, 23, 46, 65, 79, 150, E70, E81, E86, L72, L80, L86</MudText>
                        </ItemOpposite>
                    </MudTimelineItem>
                </MudTimeline>            
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Class="mt-4 mx-auto p-2 m-2" Elevation="3">
                <MudText Align="Align.Left"><b>Tren</b></MudText>
       
                <MudPaper Elevation="0" Class="mt-n1">
                    <MudText Typo="Typo.body1"><li>La estación más cercana es Barcelona-Sants</li> </MudText>
                    <MudText Typo="Typo.body1"><li>Para acceder, debes de hacer combinaciones</li></MudText>       
                </MudPaper>       
            </MudPaper>
        </MudItem>
                       
</MudGrid>

<p>Depende del lugar dónde vives o la ubicación del hotel más cercano, debes de realizar una série de transbordos o no hace falta.Por ejemplo: </p>
<p>Si eres un extrangero y viajas a Barcelona mediante en avión, debes de aterrizar en el aeropuerto Barcelona-El Prat.</p>
<p>
    Allí puedes acceder a varios medios de transporte como el metro, tren, aerobus, taxis y buses urbanos.
	Si escoges el tren, debes de coger la R2 dirección Barcelona-Estació de França y bajarte en Barcelona-Sants. Allí, hacer transbordo a la L3 dirección Trinitat Nova.
	Si escoges el aerobus, puedes ir de manera directa.
    Si escoges el taxi, puedes ir de manera directa, solo que tendrás que pagar por el servicio.
    Si escoges el metro, debes de escoger la linia L9 sud dirección Zona Universitaria y bajarte en la parada Torrassa. Allí, hacer transbordo a la L1 dirección Fondo.
</p>

<MudText style="font-family: 'Quattrocento', serif;" Align="Align.Center" Typo="Typo.h4">Estadio Camp Nou</MudText>

<MudGrid>
    <MudItem xs="12" sm="12">
        <MudPaper Class="mt-4 mx-auto" Elevation="3">
            <MudText Align="Align.Center"><b>Metro</b></MudText>
            <MudTimeline TimelineAlign="TimelineAlign.Start">
                <MudTimelineItem Color="Color.Primary" Elevation="25">
                    <ItemOpposite>
                        <MudText Color="Color.Primary" Typo="Typo.h6">L5</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText Color="Color.Primary" Typo="Typo.h6" GutterBottom="true">Cornellá Centre - Hospital de Vall d'Hebron | Sant Genís</MudText>
                            <MudText Typo="Typo.body1"><li>La Línea 5 del metro de Barcelona es una línea de ferrocarril metropolitano soterrado integrada en la red del metro de Barcelona que da servicio a la ciudad de Barcelona y la conecta con los municipios de Cornellá de Llobregat, Esplugas de Llobregat y Hospitalet de Llobregat.</li> </MudText>
                            <MudText Typo="Typo.body1">
                                <li>
                                    La línea se inauguró el 21 de julio de 1959 bajo el nombre de «Línea II» como un segundo eje transversal que complementara el servicio de la L1.
                                </li>
                            </MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Color="Color.Success" Elevation="25" TimelineAlign="TimelineAlign.End">
                    <ItemOpposite>
                        <MudText Color="Color.Success" Typo="Typo.h6">L3</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudPaper Elevation="0" Class="mt-n1">
                            <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Zona Universitaria - Trinitat Nova</MudText>
                            <MudText Typo="Typo.body2"><li>Para llegar a la ubicación, puedes bajarte en la estación de Les Corts o en Palau Reial</li></MudText>
                        </MudPaper>
                    </ItemContent>
                </MudTimelineItem>
            </MudTimeline>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudPaper Class="mt-4 mx-auto p-2 m-2" Elevation="3">
            <MudText Align="Align.Left"><b>Autobuses</b></MudText>
            <MudTimeline TimelineOrientation="TimelineOrientation.Horizontal" TimelinePosition="TimelinePosition.Alternate" Reverse="false">
                <MudTimelineItem Color="Color.Success" Variant="Variant.Filled">
                    <ItemContent>
                        <MudAlert Severity="Severity.Success">Linias urbanas</MudAlert>
                    </ItemContent>
                    <ItemOpposite>
                        <MudText Color="Color.Success">7, 15, 43, 67, 78</MudText>
                    </ItemOpposite>
                </MudTimelineItem>
            </MudTimeline>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudPaper Class="mt-4 mx-auto p-2 m-2" Elevation="3">
            <MudText Align="Align.Left"><b>Tren</b></MudText>

            <MudPaper Elevation="0" Class="mt-n1">
                <MudText Typo="Typo.body1"><li>La estación más cercana es Barcelona-Sants</li> </MudText>
                <MudText Typo="Typo.body1"><li>Para acceder, debes de hacer combinaciones</li></MudText>
            </MudPaper>
        </MudPaper>
    </MudItem>
</MudGrid>   
    
<p>Si quieres ir desde Barcelona-Sants al Camp Nou caminando, tardarás aproximadamente 1/2 hora (30 minutos). La alternativa sería coger la L5 hasta Collblanc.</p>
<p>Si escoges la L3 hasta Les Corts, aproximadamente tienes entre 15 y 20 minutos para caminar. Para acceder, debes seguir la Travessera de Les Corts en dirección sur.</p>
<p>Si escoges la L3 hasta Palau Reial, aproximadamente tienes entre 15 y 20 minutos para caminar. Para acceder, debes bajar la calle Martí i Franquès.</p>
<!--<iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->


@code
{
    
        [Parameter] public User CurrentUser { get; set; }


}
