<img class="avatar" src="https://image.freepik.com/free-vector/person-avatar-design_24877-38131.jpg" alt="avatar" width="128" height="128">
<MudText Typo="Typo.h2">Nombre del usuario</MudText>
<MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Email" />
<h2>Gmail</h2>


